.sign-screen {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.background {
  height: 100vh;
  background-image: url("../img/7.jpg");
  background-size: cover;
  background-position: center center;
}
.sign-up-form {
  background-color: #e7f5ff;
  padding: 20px;
  text-align: center;
}
.sign-up-form h1 {
  color: #1c8adb;
  margin-bottom: 20px;
  font-family: cursive;
}
.sign-up-form h2 {
  color: #1c8adb;
}
.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 80%;
  border: 1px solid #999;
  outline: none;
}
.input-box:hover {
  background-color: #d0ebff;
  cursor: pointer;
  border: 1px solid #a5d8ff;
}
button {
  color: #fff;
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}
.signup-btn {
  background-color: #1c8adb;
}
.signup-btn:hover {
  background-color: #1864ab;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1c8adb;
  padding-left: 5px;
  font-weight: 600;
}
a:hover {
  color: #1864ab;
}

hr {
  margin-top: 20px;
  /* width: 80%; */
}
.or {
  background-color: #fff;
  width: 30px;
  margin: -16px auto 15px;
  border-radius: 10px;
}
